
site_name: OneFlow
site_url: https://www.oneflow.org/
site_description: >-
  OneFlow a efficient distributed deep learning framework.
# Repository
repo_name: OneFlow
repo_url: https://github.com/OneFlow-Inc/oneflow-documentation
edit_uri: "blob/master/en/docs/"

# Copyright
copyright: Copyright &copy; 2017 - 2020 OneFlow

#website/xxx.html style
use_directory_urls: false

# Configuration
theme:
  name: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - tabs
    #- instant
  palette:
    scheme: default
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: logo
  favicon: assets/favicon.png

# Plugins
plugins:
  - search

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  # - pymdownx.highlight:
  #     linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
    - Home: index.md

    - Quick Start:
      - Installation: build_ship/install.md
      - Quick Start in 3 Minutes: quick_start/quickstart_in_3_min.md
      - Recognition of MNIST Handwritten Digits: quick_start/lenet_mnist.md

    - Basic Topics :
      - Data Input: basics_topics/data_input.md
      - Build a Neural Network: basics_topics/build_nn_with_op_and_layer.md
      - Optimization Algorithm and Parameter Configuration: basics_topics/optimizer_in_function_config.md
      - Get results from job function: basics_topics/async_get.md
      - Loading and saving of model: basics_topics/model_load_save.md
      - Distributed training: basics_topics/distributed_train.md
      - Term & Concept Explanation: basics_topics/concept_explanation.md
      - OneFlow System Design: basics_topics/essentials_of_oneflow.md

    
    - Extended Topics :
      - The Definition and Call of Job Function: extended_topics/job_function_define_call.md
      - Consistent & Mirrored View: extended_topics/consistent_mirrored.md
      - Features of Parallelism in OneFlow: extended_topics/model_mixed_parallel.md
      - The OFRecord Data Format: extended_topics/ofrecord.md
      - Loading and Preparing OFRecord Dataset: extended_topics/how_to_make_ofdataset.md
      - Convert Image Files to OFRecord Datasets: extended_topics/how_to_convert_image_to_ofrecord.md
      - How to Obtain Data from Middle Layer: extended_topics/watch_watch_diff.md
      - Use VS Code to Debug OneFlow: extended_topics/debug_by_vscode.md
      #- User Defined OP: extended_topics/user_op.md
      #- Eager/Lazy mode: extended_topics/eager_lazy_mode.md
      
     
    #- Advanced Examples:
      #- Image Processing:
       # - ResNet: adv_examples/resnet.md
        #- AlexNet: adv_examples/alexnet.md
        #- MaskRCNN: adv_examples/mask_rcnn.md
      #- NLP handling-BERT: adv_examples/bert.md
      #- Recommendation System -Wide&Deep: adv_examples/wide_deep.md
      #- Deep Faking -Generate Conflict Network: adv_examples/dcgan.md
    - API: 
      - API: https://oneflow-api.readthedocs.io/en/latest/


    - Contribute:
      - Contribute to OneFlow: contribute/intro.md

    - 中文:
      - 中文: ../index.html
