<style>
    .ver-select:focus {
        color: gray;
        border: 0px solid #fff;
        background-color: transparent;
    }

    .ver-select {
        color: white;
        border: 0px solid #fff;
        background-color: transparent;
    }
</style>

<div class="md-footer-social">
    <select class="ver-select" onchange="javascript:location.href=this.value;">
        <option> versions </option>
        <option value="{{ config.site_url }}en"> master </option>
        <option value="{{ config.site_url }}v0.2.0/en/"> v0.2.0 </option>
    </select>
</div>