<style>
    .ver-select:focus {
        color: gray;
        border: 0px solid #fff;
        background-color: transparent;
    }

    .ver-select {
        color: white;
        border: 0px solid #fff;
        background-color: transparent;
    }
</style>

<div class="md-footer-social">
    <select class="ver-select" onchange="javascript:location.href=this.value;">
        <option value="https://docs.oneflow.org/"> master </option>
        <option value="https://docs.oneflow.org/v0.2.0/"> v0.2.0 </option>
    </select>
</div>